@page "/bootstrap"
@page "/bootstrap/{page:int}"
@addTagHelper *,Webdiyer.AspNetCore.BlazorPager

<h1>Bootstrap style pagination</h1>
<nav aria-label="Page navigation">
    <BlazorPager TotalItemCount="188" TagName="ul" class="pagination"
                 OnPageChanged="@((p)=>ChangePage(p))"
                 PagerItemContainerTagName="li"
                 PagerItemContainerCssClass="page-item"
                 CurrentPagerItemContainerCssClass="page-item active"
                 DisabledPagerItemContainerCssClass="page-item disabled"
                 CurrentPagerItemTextFormatString="{0}<span class='sr-only'>current</span>"
                 PagerItemCssClass="page-link"
                 RoutePattern="bootstrap/{0}"></BlazorPager>
</nav>

@functions{
    [Parameter]
    private int Page { get; set; }

    void ChangePage(int pageIndex)
    {
        StateHasChanged();
    }
}
