@page "/"
@page "/index/{page:int}"
@using Webdiyer.AspNetCore;
@addTagHelper *,Webdiyer.AspNetCore.BlazorPager

<h1>Hello, world!</h1>

Welcome to your new app.
<BlazorPager TotalItemCount="188" style="font-size:8px" OnPageChanged="@((p)=>ChangePage(p))" PageSize="9" NumericPagerItemCssClass="btn btn-primary" NavigationPagerItemCssClass="btn btn-info" RoutePattern="index/{0}"></BlazorPager>

@functions{
    [Parameter]
    private int Page { get; set; }
    
    void ChangePage(int pageIndex)
    {
        StateHasChanged();
    }
}